
Settings.Designer.cs
Settings.cs
Properties/Settings.settings
Properties/Settings.Designer.cs
Properties/Resources.resx
Properties/Resources.Designer.cs
Properties/AssemblyInfo.cs
Program.cs
obj/Debug/TextWineditor.Properties.Resources.resources
obj/Debug/TextWineditor.pdb
obj/Debug/TextWineditor.Main.resources
obj/Debug/TextWineditor.Help.resources
obj/Debug/TextWineditor.exe
obj/Debug/TextWineditor.csproj.GenerateResource.cache
obj/Debug/TextWineditor.csproj.FileListAbsolute.txt
obj/Debug/TextWineditor.csproj.CoreCompileInputs.cache
obj/Debug/TextWineditor.csproj.AssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Main.resx
Main.Designer.cs
Main.cs
imgs/settings.png
imgs/save_as.png
imgs/save.png
imgs/open_file.png
imgs/help.png
imgs/create_new_file.png
Help.resx
Help.Designer.cs
Help.cs
bin/Debug/TextWineditor.pdb
bin/Debug/TextWineditor.exe.config
bin/Debug/TextWineditor.exe
App.config
.gitattributes
